<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

       <link rel="stylesheet" th:href="@{/css/qnaNnotice.css}">
       <link rel="stylesheet" th:href="@{/css/user_info.css}">


<th:block th:replace="~{./include/layout :: setContent(~{:: .qna_outbox})}">

    <div class="qna_outbox">
        <form action="qnaForm" method="get">
        <div class="title"> 
          <span class="noselect">문의 사항</span>
       </div>
            <th:block th:replace="~{./include/layout2 :: setContent(~{:: .leftbox})}">
           
        <div class="leftbox">

        </div>
        </th:block>
        <div class="rightbox">

            <div id="board1-search">
                <div class="search1-window">
                   
                        <div class="search1-wrap" style="margin-right: 15px">
                            <th:block th:if="${pageVO} != null">
                            <select class="sele" name="searchType"> 
                                <option value="all" th:selected ="${pageVO.cri.searchType} == 'all'? 'selected'" >전체</option>
                                <option value="title" th:selected ="${pageVO.cri.searchType} == 'title'? 'selected'">제목</option>
                                <option value="titcont" th:selected ="${pageVO.cri.searchType} == 'titcont'? 'selected'">제목+내용</option>
                                <option value="titnick" th:selected ="${pageVO.cri.searchType} == 'titnick'? 'selected'">제목+닉네임</option>
                            </select>
                            </th:block>
                            
                             <th:block th:unless="${pageVO} != null">
                              <select class="sele" name="searchType"> 
                               <option value="all" >전체</option>
                                <option value="title">제목</option>
                                <option value="titcont" >제목+내용</option>
                                <option value="titnick" >제목+닉네임</option>
                                </select>
                             </th:block>
                           <select
							class="sele2" th:onchange="|admin_dataHandler(this)|">
							<option value="10" ${pageVO.amount}==10 ? 'selected'
								>10개 보기</option>
							<option value="20" ${pageVO.amount}==20 ? 'selected'
								>20개 보기</option>
							<option value="50 " ${pageVO.amount}==50 ? 'selected'
								>50개 보기</option>
							<option value="100 " ${pageVO.amount}==100 ? 'selected'
							>100개
								보기</option>
								</select>
                            <label for="search" class="bline"></label>
                            <input  type="search" name="searchName" placeholder="검색어를 입력해주세요">
                      <button type="button" class="btn1 btn-default">
                          <span class="glyphicon glyphicon-search" >검색</span>
                      </button>
                        </div>
                    
                </div>
            </div>
          
                   
                        <table class="board-table">
                            <colgroup>
                            <col style="width:10%">
                            <col style="width:20%">
                            <col style="width:30%">
                            
                         
                            <col style="width:15%">
                            
                            </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col">등록일</th>
                                        <th scope="col">제목</th>
                                        
                                        
                                        <th scope="col">회원 이름</th>
                                    </tr>
    
                                </thead>
                               <tbody>

                                   <tr th:each = "vo, state: ${list}">
                                    <td>[[${list.get(state.index).qa_key}]]</td>
                                    
                                    <td>[[${#temporals.format(list.get(state.index).qa_date, 'yyyy-MM-dd')}]]</td>
                                    <td><a th:href="@{/admin/replyPage(qa_key=${list.get(state.index).qa_key} ) }">[[${list.get(state.index).qa_title}]]</a></td>
                                    <td>[[${list.get(state.index).user_id}]]</td>
                                   
                                   </tr>
                                  
                                
                             
                               </tbody>
                                
                              
                          
                        </table>
            
            
      
    
                
                <section>
                    <div class="noticeQna_page3">
                   
                       
						<ul class="pagenation">

							<th:block th:if="${pageVO.realEnd != 0}">
								<li><a
									th:href="@{/admin/qna(page=1, 
													amount=${pageVO.amount},
													
													searchType=${pageVO.cri.searchType},
													searchName=${pageVO.cri.searchName})}">

										<i class="fa fa-angle-double-left" aria-hidden="true"> <<
									</i>
								</a></li>
							</th:block>



							<th:block th:if="${pageVO.prev}">
								<li style="margin-right: 5px;"><a
									th:href="@{/admin/qna(page=${pageVO.start - 1 },
													amount=${pageVO.amount},
													searchType=${pageVO.cri.searchType},
													searchName=${pageVO.cri.searchName} )}">
										<i class="fa fa-angle-left" aria-hidden="true"> < </i>
								</a></li>
							</th:block>

							<th:block th:each="page: ${pageVO.pageList}">
								<li th:class="${pageVO.page == page? 'on' :''}"><a
									th:href="@{/admin/qna(page=${page}, 
													amount=${pageVO.amount}, 
													searchType=${pageVO.cri.searchType},
												     searchName=${pageVO.cri.searchName})}">[[${page}]]
								</a></li>
							</th:block>

							<th:block th:if="${pageVO.next}">
								<li style="margin-left: 5px;"><a
									th:href="@{/admin/qna(page=${pageVO.end + 1},
															amount=${pageVO.amount},
															searchType=${pageVO.cri.searchType},
															searchName=${pageVO.cri.searchName} )}">
										<i class="fa fa-angle-right" aria-hidden="true">></i>
								</a></li>

							</th:block>
							<th:block th:if="${pageVO.realEnd != 0}">
								<li><a
									th:href="@{/admin/qna(page=${pageVO.realEnd},
															amount=${pageVO.amount},
															searchType=${pageVO.cri.searchType},
															searchName=${pageVO.cri.searchName}
															 )}">
										<i class="fa fa-angle-double-right" aria-hidden="true">>></i>
								</a></li>
							</th:block>

						</ul>
					</div>
                            
                    </section>    
            </div>
  
        
    </div>
    
    
</form>
</th:block>
</body>
<script th:inline="javascript">
	(function() {
		var msg = JSON.parse('[[${msg}]]');	
		if(msg != null) {
			alert(msg);
		}
	})();
	

	function admin_dataHandler(a) {
		/* 		document.notices.page.value = 1;
				document.notices.amount.value = a.value;
				document.notices.submit(); */
			
				
			 	location.href='/admin/qna?page=1&amount=' + a.value;
			} 
	var searchBtn=document.getElementById("searchBtn");
	searchBtn.onclick =function(){
		 
		event.preventDefault();
		
	
		
		document.noticed.submit();

		
	
		

	}	
	</script>	
</html>