<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

		<link rel="stylesheet" type="text/css" th:href="@{/css/adminMovieList.css}" />


<th:block th:replace="~{./include/layout :: setContent(~{:: .qna_outbox})}">

    <div class="qna_outbox">
	<table class="adminMovie_movieList" cellpadding="0" cellspacing="0">

		
			<tr>
				<th>이미지</th>
				<th>영화이름</th>
				<th>영어이름</th>
				<th>감독</th>
				<th>배우</th>
			</tr>

			<tr th:each="vo, state : ${list}">
				<td><img
					th:src="'https://image.tmdb.org/t/p/w154' + ${vo.movie_iUrl}"
					height="150px"></td>
				<td><a
					th:href="@{/movie/movieDetail(movie_koficCd=${vo.movie_koficCd})}"><strong>[[${vo.movie_nm}]]</strong></a>
				</td>
				<td>[[${vo.movie_nmEn}]]</td>
				<td>[[${vo.movie_dirNm}]]</td>
				<td>[[${vo.movie_actNm}]]</td>
			</tr>

		

	</table>
	</div>
	</th:block>

</body>
</html>