<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/userRegist.css">
    <script src="/js/jquery-3.6.0.js"></script>
    <style>
    .id_ok{color: green; display: none;}
	.id_already{color: red; display: none;}
    .email_ok{color: rgb(255, 255, 255); display: hidden; font-size:0; height:0px; margin : 0px; padding : 0px;}
	.email_already{color: red; display: none;}
	.password_err{color: red;}
	.password_err_id{color: red;}
	.password_err_email{color: red;}
	.password_err_pw{color: red;}
	.length_check{color: red; display: none;}
	.length_check_pw {color: red; display: none;}
	
    
    </style>
</head>
<body>
	<form method="POST" class="joinForm" action="#" name="user_Regist">
		<h2>회원가입</h2>
		<div class="emailForm">
				<input name="user_id" id="myid" type="text" class="email"  placeholder="아이디 (4자리 이상)" style="display:inline; text-align:left" required onblur = "checkId()">
		</div>
				<span class="id_ok">사용 가능한 아이디입니다.</span>
				<span class="id_already">누군가 이 아이디를 사용하고 있어요.</span>
				<span class="password_err_id">[[${valid_user_id}]]</span>
				<span class="length_check">4자리 이상 작성해주세요</span>
		<div class="textForm">
			<input id="password" name="user_password" type="password" class="pw"  placeholder="비밀번호 (4자리 이상)"  required onblur="passwordchk();">
		</div>
		<div class="textForm">
			<input id="passwordConfirm" name="loginPwConfirm" type="password" class="pw"
				placeholder="비밀번호 확인"  required pattern="#password" onblur="passwordchk();">
		</div>
				<span class="password_err" id="confirmMsg">비밀번호를 일치시켜주세요.</span>
				<span class="password_err_pw">[[${valid_user_password}]]</span>
				<span class="length_check_pw">4자리 이상 작성해주세요</span>
		<div class="textForm">
			<input name="user_name" id="name" type="text" class="name"  placeholder="이름"  required >
		</div>
				<span class="password_err">[[${valid_user_name}]]</span>
<!-- 		<div class="emailForm">
				<input name="email_check" id="email_check" type="text" class="email" placeholder="이메일 인증" style="display: inline; text-align: left">
				<button class="button" onclick="emailCheck();">인증번호 확인</button>
				<input type="hidden" id="email_checkYN" value = "false">
		</div> -->
		<div class="textForm">
			<input name="user_phone" type="text" class="cellphoneNo"
				placeholder="전화번호 (010-1234-5678)"  required pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}">
		</div>
				<span class="password_err">[[${valid_user_phone}]]</span>
		
		<div class="textForm">
			<small style="float:left; padding-bottom:5px;">생년월일</small>
			<input name="user_birth" type="date" class="birth"  required>
		</div>
				<span class="valid_err">[[${valid_user_birth}]]</span>
		<div class="emailForm">
				<input name="user_email" id="myemail" type="email" class="email" placeholder="이메일"  style="display:inline; text-align:left"  required onblur = "checkEmail()" >
		</div>
				<span class="email_ok">사용 가능한 이메일입니다.</span>
				<span class="email_already">누군가 이메일을 사용하고 있어요.</span>
				<span class="password_err_email">[[${valid_user_email}]]</span>
		<div class="logingender">
			<a>성별&nbsp;&nbsp;&nbsp;</a>
			<input type="checkbox" name="user_gender" id="chk1"  value="1"
				onClick="example_1();"><a>남성&nbsp;&nbsp;&nbsp;</a>
			<input type="checkbox"
				name="user_gender" id="chk2" value="2"  onClick="example_2();">여성
		</div>
		
				<span class="password_err">[[${valid_user_gender}]]</span>
		<br>
		
		
		<input type="button" class="btn" th:onclick="|user_reg()|" value="회 원 가 입" />



	</form>
</body>
<script th:inline="javascript">
   const example1 = document.querySelector('#chk1');
   const example2 = document.querySelector('#chk2');
   var password = document.getElementById('password');               //비밀번호 
   var passwordConfirm = document.getElementById('passwordConfirm');   //비밀번호 확인 값
   var confirmMsg = document.getElementById('confirmMsg');   
   var name = document.getElementById('name');
   var user_id = document.getElementById('myid');
   var check_status;
   
   if(password.value != passwordConfirm.value) {
      confirmMsg.style.display = "inline-block";
      $('.password_err_pw').css("display", "none");
   } else {
      confirmMsg.style.display = "none";
   }
   
   function example_1() {
      if (example1.checked == true) {
         example2.checked = false;
      }
   }
   function example_2() {
      if (example2.checked == true) {
         example1.checked = false;
      }
   }
   
   

   function user_reg() {
      this.event.preventDefault();
      document.user_Regist.action = "RegistForm";
      if ($(".id_ok").css("display") == "inline-block" && $(".email_already").css("display") == "none") {
         if (password.value == passwordConfirm.value) {
            document.user_Regist.submit();
         } else {
            confirmMsg.style.color = "white"
            setTimeout(function() {
               confirmMsg.style.color = "red";
            }, 400);
            setTimeout(function() {
               confirmMsg.style.color = "white";
            }, 800);
            setTimeout(function() {
               confirmMsg.style.color = "red";
            }, 1200);
         }
         
      } else {
         alert("아이디 혹은 이메일이 중복되었습니다.")
      }
   }
   
   function email_send() {
      this.event.preventDefault();
      document.user_Regist.action = "usermailCheck";
      window.open('', 'newWindow', 'width=500, height=500');
      document.user_Regist.target = 'newWindow';
      document.user_Regist.submit();
   }

   (function() {
      var msg = JSON.parse('[[${msg}]]');
      check_status = JSON.parse('[[${check_status}]]');
      if (msg != null) {
         alert(msg);
         /* console.log(check_id); */
         /* user_id.value = "${check_id}"; model에서 저장한 값을 JS에서 불러서 사용하는 방법이 뭘까? */
      }
      ;
   })();

   function passwordchk() {
 	  var pw_length = $('#password').val().length;
 	  console.log(pw_length);
 	  if(pw_length > 3) {
          $('.length_check_pw').css("display", "none");
 		  if (password.value != passwordConfirm.value) {
        	if ($('#passwordConfirm').val() != '' && $('#passwordConfirm').val() != null) {
         		confirmMsg.style.display = "inline-block";
      		} else {
         		confirmMsg.style.display = "none";
      		}
   	} else {
      confirmMsg.style.display = "none";
   }
 		  
 	  } else{
          $('.length_check_pw').css("display", "inline-block");
 		  
 	  }
 		 
 	  };
   
   function checkId() {
      var id = $('#myid').val();
      var id_length = $('#myid').val().length;
      console.log(id_length);
      $.ajax({
         url : '/user/idCheck',
         type : 'post',
         data : {
            id : id
         },
         success : function(cnt) {//컨트롤러에서 넘어온 cnt값을 받는다 
         	
         	if (id_length > 3) {
         		if (cnt < 1) { //cnt가 1이 아니면(=0일 경우) -> 사용 가능한 아이디 
               $('.id_ok').css("display", "inline-block");
               $('.id_already').css("display", "none");
               $('.password_err_id').css("display", "none");
               $('.length_check').css("display", "none");
            } else { // cnt가 1일 경우 -> 이미 존재하는 아이디
               $('.id_already').css("display", "inline-block");
               $('.id_ok').css("display", "none");
               $('.password_err_id').css("display", "none");
               $('.length_check').css("display", "none");
            }
         	} else {
                $('.id_ok').css("display", "none");
                $('.password_err_id').css("display", "none");
                $('.id_already').css("display", "none");
                $('.length_check').css("display", "inline-block");
         	}
         },
         error : function() {
            alert("에러입니다");
         }
      });
   };
   
   function checkEmail() {
	      var email = $('#myemail').val();
	      $.ajax({
	         url : '/user/emailCheck',
	         type : 'post',
	         data : {
	            email : email
	         },
	         success : function(emailcnt) {//컨트롤러에서 넘어온 cnt값을 받는다 
	            if (emailcnt < 1) { //cnt가 1이 아니면(=0일 경우) -> 사용 가능한 아이디 
	               $('.email_ok').css("display", "inline-block");
	               $('.email_already').css("display", "none");
	               $('.password_err_email').css("display", "none");
	            } else { // cnt가 1일 경우 -> 이미 존재하는 아이디
	               $('.email_already').css("display", "inline-block");
	               $('.email_ok').css("display", "none");
	               $('.password_err_email').css("display", "none");
	            }
	         },
	         error : function() {
	            alert("에러입니다");
	         }
	      });
	   };
</script>
</html>