<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/userPopup.css">
</head>

<body>
    <div class="bd">
        <div class="responsive-account-container">
            <form class="change-password-form" data-uia="change-password-form" method="post" name = "user_update_email" novalidate="" action="user_update_email">
                <h1>이메일주소 변경</h1>
                <ul class="simpleForm structural ui-grid">
                    <li data-uia="field-currentPassword+wrapper" class="nfFormSpace">
                        <div data-uia="field-currentPassword+container" class="nfInput">
                            <div class="nfInputPlacement"><label class="input_id" placeholder="currentPassword"><input
                                        type="email" data-uia="field-currentPassword" name="user_email"
                                        class="nfTextField" id="id_currentPassword" value="" tabindex="0"
                                        autocomplete="off" maxlength="60" minlength="4" dir=""
                                        placeholder="기존 이메일"></label></div>
                            <div id="" class="inputCaption" data-uia="">
                        </div>
                    </li>
                    <li data-uia="field-newPassword+wrapper" class="nfFormSpace">
                        <div data-uia="field-newPassword+container" class="nfInput">
                            <div class="nfInputPlacement"><label class="input_id" placeholder="newPassword"><input
                                        type="email" data-uia="field-newPassword" name="user_newemail"
                                        class="nfTextField" id="new_email" value="" tabindex="0" autocomplete="off"
                                        maxlength="60" minlength="6" dir=""
                                        placeholder="새로운 이메일"></label></div>
                        </div>
                    </li>
						<span style="color: red;">[[${valid_user_newemail}]]</span>
                    <li data-uia="field-confirmNewPassword+wrapper" class="nfFormSpace">
                        <div data-uia="field-confirmNewPassword+container" class="nfInput">
                            <div class="nfInputPlacement"><label class="input_id"
                                    placeholder="confirmNewPassword"><input type="email"
                                        data-uia="field-confirmNewPassword" name="confirmNewPassword"
                                        class="nfTextField" id="new_emailchk" value="" tabindex="0"
                                        autocomplete="off" maxlength="60" minlength="6" dir=""
                                        placeholder="새로운 이메일 확인"></label></div>
                        </div>
                    </li>
                    <li data-uia="field-requireAllDevicesSignIn+wrapper" class="nfFormSpace">
                        <div class="ui-binary-input"><label for="cb_requireAllDevicesSignIn"
                                data-uia="field-requireAllDevicesSignIn+label">정보 변경 후 다시 로그인 하셔야 합니다.</label>
                            <div class="helper"></div>
                        </div>
                    </li>
                </ul>
                <div class="nf-btn-bar change-password-buttons">
                		<button id="btn-save" type="submit" autocomplete="off"
                        tabindex="0" class="nf-btn nf-btn-primary nf-btn-retro nf-btn-small"
                        data-uia="action_save-password" placeholder="" onclick="email_save_btn();">저장</button>
                        
                        <button id="btn-cancel" type="button"
                        autocomplete="off" tabindex="0" class="nf-btn nf-btn-secondary nf-btn-retro nf-btn-small"
                        data-uia="action_cancel-change-password" placeholder="" onclick="window.close();">취소</button></div>
            </form>
        </div>
    </div>
</body>

<script th:inline="javascript">
 (function() {
	var msg = JSON.parse('[[${msg}]]');
	if (msg != null) {
		alert(msg);
		window.close();
	}
	;
})(); 


	var new_email = document.getElementById("new_email");
	var new_emailchk = document.getElementById("new_emailchk");
	console.log(new_email.value);
	
	function email_save_btn() {
		this.event.preventDefault();
		if(new_email.value != new_emailchk.value || new_email.value == "" || new_emailchk.value == ""){
			alert("새로운 이메일을 일치하게 작성해주세요.")
		} else {
			document.user_update_email.submit();
			
		}
	};
	
</script>

</html>