<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/userMypage.css}" />
<style>
</style>

<th:block th:replace="~{./include/layout :: setContent( ~{:: .userMypage} ) }">
   <div class="userMypage">
      <div class="wrap">
         <div class="area">
            <div class="mypage_util">
               <h2 class="mypage_title">마이페이지</h2>
               <div class="mypage_container">
                  <ul class="mytab">
                     <li id="a1" data-tg="#my" class="mylisttab now"><a class="tabplay" href="">대여 영상</a></li>
                     <li id="a2" data-tg="#buy" class="mylisttab"><a class="tabplay" href="">구매 영상</a></li>
                     <li id="a3" data-tg="#favorite" class="mylisttab"><a class="tabplay" href="">관심목록</a></li>
                     <li id="a4" data-tg="#qna" class="mylisttab"><a class="tabplay" href="">문의사항</a></li>
                     <li id="a5" data-tg="#comment" class="mylisttab"><a class="tabplay" href="">나의 댓글</a></li>
                     <li id="a6" data-tg="#mynotice" class="mylisttab"><a class="tabplay" href="">나의 정보</a></li>

                  </ul>
                  <br>
                  <div id="my" class="xxx yyy">
                     <div class = "scroll_div">
                     <div class="mybox" id="if_rent_data_null" th:each="vo, state : ${user_rent_list}">
                        <a th:href="@{'/movie/movieDetail?movie_koficCd=' + ${user_rent_list.get(state.index).movie_koficcd}}">
                        <img th:src="'https://image.tmdb.org/t/p/w92' + ${user_rent_list.get(state.index).movie_iurl}" alt=""  style="float: left"></a>
                        <div class="mypage_left" >
                           <ul>
                              <li><a>영화 제목</a></li>
                              <li><a>대여 시작일</a></li>
                              <li><a>대여 종료일</a></li>
                           </ul>

                        </div>

                        <div class="mypage_right" >
                           <ul>
                              <li><a>[[${user_rent_list.get(state.index).movie_nm}]]</a></li>
                              <li><a>[[${user_rent_list.get(state.index).rent_startdate}]]</a></li>
                              <li><a>[[${user_rent_list.get(state.index).rent_enddate}]]</a></li>
                           </ul>
                        </div>
                     </div>
                     </div>
<!--                      <div id="mybtn" class="mypage_text-center">
                        부트스트랩의 클래스
                        <ul class="pagination pagination-sm">
                           <li><a href="#">이전</a></li>
                           <li><a href="#">1</a></li>
                           <li><a href="#">2</a></li>
                           <li><a href="#">3</a></li>
                           <li><a href="#">4</a></li>
                           <li><a href="#">5</a></li>
                           <li><a href="#">다음</a></li>
                        </ul>
                     </div> -->
                  </div>

                  <div id="buy" class="xxx ">
					<div class = "scroll_div">
                     <div class="mybox" id="if_buy_data_null" th:each="vo, state : ${user_buy_list}">
                        <a th:href="@{'/movie/movieDetail?movie_koficCd=' + ${user_buy_list.get(state.index).movie_koficcd}}">
                        <img th:src="'https://image.tmdb.org/t/p/w92' + ${user_buy_list.get(state.index).movie_iurl}" alt=""  style="float: left"></a>
                        <div class="mypage_left" >
                           <ul>
                              <li><a>영화 제목</a></li>
                              <li><a>구매/대여 여부</a></li>
                              <li><a>남은 기간</a></li>
                           </ul>

                        </div>

                        <div class="mypage_right" >
                           <ul>
                              <li><a>[[${user_buy_list.get(state.index).movie_nm}]]</a></li>
                              <li><a>구매완료</a></li>
                              <li><a>구매완료</a></li>
                           </ul>
                        </div>
                     </div>
                     </div>
                  </div>

                  <div id="favorite" class="xxx">
                     <div class="scroll_div">
                     <div class="mybox" id="if_data_null" th:each="vo, state : ${movie_like}">
                        <a th:href="@{'/movie/movieDetail?movie_koficCd=' + ${movie_like.get(state.index).movie_koficcd}}">
                        <img th:src="'https://image.tmdb.org/t/p/w92' + ${movie_like.get(state.index).movie_iurl}" alt=""  style="float: left"></a>
                        <div class="mypage_left" id="if_data_null">
                           <ul>
                              <li><a>영화 제목</a></li>
                              <li><a>구매/대여 여부</a></li>
                              <li><a>남은 기간</a></li>
                           </ul>

                        </div>

                        <div class="mypage_right" id="if_data_null">
                           <ul>
                              <li><a>[[${movie_like.get(state.index).movie_nm}]]</a></li>
                              <li><a>구매/대여 여부</a></li>
                              <li><a>남은기간DB</a></li>
                           </ul>
                        </div>
                     </div>
                     </div>
                  </div>

                  <div id="qna" class="xxx" style="overflow:hidden">
                     <div class ="scroll_div">
                        <section class="notice">
                           <div>
                              <div>
                                 <table class="mypage_board-table">
                                    <thead>
                                       <tr>
                                          <th scope="col" class="th-num">번호</th>
                                          <th scope="col" class="th-title">제목</th>
                                          <th scope="col" class="th-writer">글쓴이</th>
                                          <th scope="col" class="th-date">등록일</th>
                                       </tr>
                                    </thead>
                                    <tbody class="mypage_tbody">
                                       <tr  th:each="vo, state : ${myqalist}">
                                          <td>[[${state.index + 1}]]</td>
                                          <th><a th:href="@{/user/userQnaRead(qa_key=${myqalist.get(state.index).qa_key} ) }">[[${myqalist.get(state.index).qa_title}]]</a>
                                          </th>
                                          <td>[[${myqalist.get(state.index).user_id}]]</td>
                                          <td>[[${#temporals.format(myqalist.get(state.index).qa_date, 'yyyy-MM-dd')}]]</td>
                                       </tr>
                                    </tbody>
                                 </table>
                                 <div class="clickbtn">

                                    <button class="mypage_w-btn" type="button">

                                       <a href="/user/userQnaRegist" scope="col">등록</a>
                                    </button>
                                 </div>
                              </div>
                           </div>
                        </section>
                     </div>
                  </div>

                  <div id="comment" class="xxx" style="overflow:hidden">
                     <div class="scroll_div">
                        <section class="notice">
                           <div>
                              <div>
                                 <table class="mypage_board-table">
                                    <thead>
                                       <tr>
                                          <th scope="col" class="th-num">번호</th>
                                          <th scope="col" class="th-writer">영화제목</th>
                                          <th scope="col" class="th-title">내용</th>
                                          <th scope="col" class="th-date">등록일</th>
                                          <th scope="col" class="th-count">좋아요</th>
                                       </tr>
                                    </thead>
                                    <tbody class="mypage_tbody">
                                       <tr th:each="vo, state : ${mycomment}">
                                          <td>[[${mycomment.get(state.index).comment_key}]]</td>
                                          <td>[[${mycomment.get(state.index).comment_mn}]]</td>
                                          <th><a>[[${mycomment.get(state.index).comment_com}]]</a>
                                          </th>
                                          <td>[[${#temporals.format(mycomment.get(state.index).comment_date, 'yyyy-MM-dd')}]]</td>
                                          <td>[[${mycomment.get(state.index).comment_like}]]</td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </section>

                     </div>
                  </div>

                  <div id="mynotice" class="xxx">
                     <div>
                        <h1 class="">계정</h1>
                        <div th:each="vo, state : ${userdata}">
                           계정 가입일: [[${#temporals.format(vo.user_date, 'yyyy-MM-dd')}]]
                        </div>
                        <div class=""></div>
                        <div class=""></div>
                        <div class="">
                           <div class="" data-uia="">
                              <header class="mypage_myhead">
                                 <h2 class="mypage_h2">
                                    계정 &amp; 내 정보>
                                 </h2>
                                    
                              		<form method="POST" name = "user_drop" action ="user_drop">
                                    <button class="memberbtn" type="submit" tabindex="0" onclick="drop_click();">
                                       <span>계정 탈퇴 </span>
                                    </button>
                                    </form>
                              </header>
                              <section class="">
                                 <div class="simplenotice">
                                    <div class="">
                                       <div class="simplenotice-left" th:each="vo, state : ${userdata}">
                                          <div class="">[[${vo.user_email}]]</div>
                                          <div class="d" id="user_password_count">
                                             비밀번호: ******
                                          </div>
                                          <div class="">전화번호: [[${vo.user_phone}]]</div>
                                          <div id = "user_gender_inner">성별:[[${vo.user_gender}]]</div>
                                          <div>생년월일: [[${vo.user_birth}]]</div>
                                       </div>
                                       <div class="simplenotice-right">
                                          <div class="" style="height: 24px;">
                                          </div>
                                          <div class="">
                                             <a class="" href="##"
                                                onclick="window.open('http://3.36.178.116:8383/user/userPassword','window_password','width=430,height=500');">비밀번호변경</a>
                                          </div>
                                          <div class="">
                                             <a class="" href="##"
                                                onclick="window.open('http://3.36.178.116:8383/user/userPhone','window_password','width=430,height=500');">휴대폰
                                                번호 변경</a>
                                          </div>
                                          <div class="" style="height: 24px;">
                                          </div>
                                          <div class="">
                                             <a class="" href="##" onclick="window.open('http://3.36.178.116:8383/user/userBirth','window_password','width=430,height=500');">생년월일 변경</a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </section>
                           </div>
                        </div>
                     </div>

                  </div>
               </div>

            </div>

         </div>
      </div>
      </div>
</th:block>

<script th:inline ="javascript">




   var mytab = document.querySelector(".mytab");
   var mytabli = document.getElementsByClassName("mylisttab");
/*    var btn = document.getElementById("mybtn"); */
   var delbtn = document.getElementById("delbtn");
   var checkboxes = document.getElementsByClassName("ckbox");
/*    var allcheck = document.getElementById("allcheck"); */
   var pass_count = document.getElementById("user_password_count");
   var gender = document.getElementById("user_gender_inner");
   var data = JSON.parse('[[${movie_like}]]');
   var buy_data = JSON.parse('[[${user_buy_list}]]');
   var rent_data = JSON.parse('[[${user_rent_list}]]');
   
   if(data[0].movie_nm == null) {
	   $('#if_data_null').css("display", "none");
   }
   
   if(buy_data[0].movie_nm == null) {
	   $('#if_buy_data_null').css("display", "none");
   }
   
   if(rent_data[0].movie_nm == null) {
	   $('#if_rent_data_null').css("display", "none");
   }
   

   (function() {
	      var msg = JSON.parse('[[${msg}]]');
	      check_status = JSON.parse('[[${check_status}]]');
	         let dttg = JSON.parse('[[${dttg}]]');
	         let a4 = JSON.parse('[[${a4}]]');
	      if (msg != null) {
	         alert(msg);
	         /* console.log(check_id); */
	         /* user_id.value = "${check_id}"; model에서 저장한 값을 JS에서 불러서 사용하는 방법이 뭘까? */
	      }
	  	   if(dttg != null){
	  		   document.querySelectorAll(".xxx").forEach(function(value, index ) {
	  		      value.classList.remove("yyy");
	  		   })
	  		   document.querySelectorAll(".mylisttab").forEach(function(value, index ) {
	  		      value.classList.remove("now");
	  		   })
	  		   document.querySelector(dttg).classList.add("yyy");
	  	       document.querySelector(a4).classList.add("now");
	  		   }
	      ;
	   })();
   
   
   
   if(gender.innerHTML == "성별:1") {
	   gender.innerHTML = "성별: 남성";
   } else {
	   gender.innerHTML = "성별: 여성";
   };
   
/*    allcheck.onclick = function () {
      if (allcheck.checked) {
         for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = true;
         }
      } else {
         for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = false;
         }
      }
   } */


   // console.log(mytabli.className);
   mytab.onclick = function (e) {
      e.preventDefault();
      if (e.target.tagName != "A") return;
      // console.log(e.target.parentElement.dataset.tg)

      document.querySelectorAll(".xxx").forEach(function (value, index) {
         value.classList.remove("yyy");

      })
      document.querySelectorAll(".mylisttab").forEach(function (value, index) {
         value.classList.remove("now");
      })

      var now = e.target.parentElement.classList;



      var idx = e.target.parentElement.dataset.tg;
      document.querySelector(idx).classList.add("yyy");
      var idx2 = "#" + e.target.parentElement.id;
      document.querySelector(idx2).classList.add("now");

/*       if (idx == "#mynotice") {
         btn.style.display = "none";
      } else {
         btn.style.display = "block"
      } */

      if (idx == "#favorite") {
         delbtn.style.display = "inline-block";
      } else {
         delbtn.style.display = "none";
      }
   }

	function drop_click() {
		this.event.preventDefault();
		if (confirm("정말 계정탈퇴를 하시겠습니까?") == true) {
			document.user_drop.submit();
			console.log("삭제");
		} else {
			console.log("삭제 취소");
		}
	}
</script>

</html>