<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/movieList.css}">
<th:block th:replace="~{./include/layout :: setContent( ~{:: .outbox} ) }">

	<body>

		<div class="outbox">
			<div class="ml_rightbox">
				
    			<div id="modal" class="modal-overlay">
        			<div class="modal-window">
            			<div class="close-area">X</div>
            			<div class="content">
            				<img src="/img/event_modal1.png" style="width:600px; height:600px;">
            			</div>
        			</div>
    			</div>
    			<div id="modal2" class="modal-overlay">
        			<div class="modal-window">
            			<div class="close-area2">X</div>
            			<div class="content">
            				<img src="/img/event_modal2.png" style="width:600px; height:600px;">
            			</div>
        			</div>
    			</div>
    			

				<div class="movielisttitle">
					이벤트
				</div>
				<div class="event1" >
					<img src="/img/event1.png" width="562" height="234" id="btn-modal">
				</div>
				<div class="event2">
					<img src="/img/event2.png" width="562" height="234" id="btn-modal2">
				</div>
				<div class="movielisttitle">
					액션 영화
				</div>
				<div class="action">
					<input type="radio" name="action" id="action1" checked>
					<input type="radio" name="action" id="action2">

					<div class="actionslide" >
						<li>
							<th:block th:each="actionList ,status :  ${actionList}">
									<a th:href="@{/movie/movieDetail(movie_koficCd=${actionList.movie_koficCd})}">
										<img th:src="'https://image.tmdb.org/t/p/w185' + ${actionList.movie_iUrl}" style="width:185px; height:278px;">
									</a>
							</th:block>
						</li>
					
					</div> 
					<p class="bullet">
						<label for="action1">1</label>
						<label for="action2">2</label>
					</p>
				</div>
				<div class="movielisttitle">
					스릴러 영화
				</div>
				<div class="thriller">
					<input type="radio" name="thriller" id="thriller1" checked>
					<input type="radio" name="thriller" id="thriller2">

					<div class="thrillerslide" >
						<li>
							<th:block th:each="thrillerList ,status :  ${thrillerList}">
									<a th:href="@{/movie/movieDetail(movie_koficCd=${thrillerList.movie_koficCd})}">
										<img th:src="'https://image.tmdb.org/t/p/w185' + ${thrillerList.movie_iUrl}" style="width:185px; height:278px;">
									</a>
							</th:block>
						</li>
					
					</div> 
					<p class="bullet">
						<label for="thriller1">1</label>
						<label for="thriller2">2</label>
					</p>
				</div>
					
				</div>
				<div class="movielisttitle">
					드라마 영화
				</div>
				<div class="drama">
					<input type="radio" name="drama" id="drama1" checked>
					<input type="radio" name="drama" id="drama2">

					<div class="dramaslide" >
						<li>
							<th:block th:each="dramaList ,status :  ${dramaList}">
									<a th:href="@{/movie/movieDetail(movie_koficCd=${dramaList.movie_koficCd})}">
										<img th:src="'https://image.tmdb.org/t/p/w185' + ${dramaList.movie_iUrl}" style="width:185px; height:278px;">
									</a>
							</th:block>
						</li>
					
					</div> 
					<p class="bullet">
						<label for="drama1">1</label>
						<label for="drama2">2</label>
					</p>
				</div>

			</div>
		</div>

	</body>
	</th:block>
	<script>
        const modal = document.getElementById("modal")
		const btnModal = document.getElementById("btn-modal")
		btnModal.addEventListener("click", e => {
		    modal.style.display = "flex"
		})
		const closeBtn = modal.querySelector(".close-area")
		closeBtn.addEventListener("click", e => {
		    modal.style.display = "none"
		})
		
		const modal2 = document.getElementById("modal2")
		const btnModal2 = document.getElementById("btn-modal2")
		btnModal2.addEventListener("click", e => {
		    modal2.style.display = "flex"
		})
		
		const closeBtn2 = modal2.querySelector(".close-area2")
		closeBtn2.addEventListener("click", e => {
		    modal2.style.display = "none"
		})
    </script>

</html>