<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project2.movieproject.search.SearchMapper">	

	<select id="getSearchList" resultType="com.project2.movieproject.command.MovieVO">
		<![CDATA[SELECT * FROM MOVIE WHERE movie_koficCd > 0]]>
			<if test="searchKeyword != 'null'"> 
			<if test="searchKeyword == 'movie_Nm'">  
				and movie_Nm like CONCAT('%', #{searchName}, '%')
			</if>
			<if test="searchKeyword == movie_dirNm"> 
				and movie_dirNm like CONCAT('%', #{searchName}, '%')
			</if>
			<if test="searchKeyword == movie_actNm"> 
				and movie_actNm like CONCAT('%', #{searchName}, '%')
			</if>
			<if test="searchKeyword == 'diractor'">
				and (movie_dirNm like CONCAT('%', #{searchName}, '%')
				or
				movie_actNm like CONCAT('%', #{searchName}, '%'))
			</if>
			<if test="searchKeyword == 'dirMovie">
				and (movie_dirNm like CONCAT('%', #{searchName}, '%')
				or
				movie_Nm like CONCAT('%', #{searchName}, '%'))
			</if>
			<if test="searchKeyword == 'actMovie'">
				and (movie_actNm like CONCAT('%', #{searchName}, '%')
				or
				movie_Nm like CONCAT('%', #{searchName}, '%'))
			</if>
			<if test="searchKeyword == 'all'">
				and (movie_dirNm like CONCAT('%', #{searchName}, '%')
				or
				movie_actNm like CONCAT('%', #{searchName}, '%')
				or
				movie_Nm like CONCAT('%', #{searchName}, '%'))
			</if>
			</if>
			<![CDATA[
			ORDER BY MOVIE_KOFICCD DESC 
			AS SEARCHLISTRESULT LIMIT #{skip}, #{amount}
			]]>
	</select>
	
	<select id="getTotal" resultType="int">
		SELECT COUNT(*) FROM MOVIE 
		<if test="searchKeyword != null">
			where movie_koficCd > 0
			<!-- <include refid="getSearchList"></include> -->
		</if>
	</select>
</mapper>